extends ../layouts/common

block content
    h1 Users
    h3
        a(href="/users/create" class="badge badge-success") Create users
    h3
        a(href="/" class="badge badge-info") Home

    table.table
        thead
            tr                
                th(scope='col') Name                
                th(scope='col') Email
                th(scope='col') Phone
                th(scope='col') View
        tbody
            each user in users
                tr            
                    th=user.name
                    td=user.email
                    td=user.phone
                    td 
                        a(href="/users/view/" + user.id class="badge badge-warning ml-1") Details
    nav(aria-label='...')
        ul.pagination
            li.page-item(class=pagination.prev ? "" : "disabled")
                a.page-link(href='/users?page=' + pagination.prev, tabindex='-1' aria-disabled='true') Previous
            if pagination.prev
                li.page-item
                    a.page-link(href='/users?page=' + pagination.prev) #{pagination.prev}
            li.page-item.active(aria-current='page')
                a.page-link(href='/users?page=' + pagination.page) #{pagination.page}
                    span.sr-only (current)
            if pagination.next
                li.page-item
                    a.page-link(href='/users?page=' + pagination.next) #{pagination.next}               
            li.page-item(class=pagination.next ? "" : "disabled")
                a.page-link(href='/users?page=' + pagination.next) Next

    //- ul(class="list-group")
    //-     each user in users
    //-         li(class="list-group-item")
    //-             span= user.name
    //-             a(href="/users/view/" + user.id class="badge badge-warning ml-1") view